<!doctype html>
<html>
<head>
    <title>Ratings</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/rating.min.css">
</head>
<body>
    <nav>
        <a id='nav_title' href="/">Ratings</a>
        {% if 'logged_in' in session %}
            <button class='nav_btn'><a href="logout">Log out</a></button>
        {% else %}
            <button class='nav_btn'><a href="login">Login</a></button>
            <button class='nav_btn'><a href="register_form">Register</a></button>
        {% endif %}
        </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class='container'>
    {% block content %} put your content here {% endblock %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    
    $('#show_scores').click(function(){
        $('#all_scores').toggleClass("hidden");

        if ($('#all_scores').is(":visible")) {
            $('#show_scores').html('Hide all scores');
        } else {
            $('#show_scores').html('Show all scores');
        }
    });

    function confirmAddition(results){
        $('#score_msg').html(results.msg);
        var scores = results.scores

        $('#all_scores').html('');

        for (var i=0; i< scores.length; i++) {
            if (i != scores.length-1) {
                $('#all_scores').append(scores[i] + ", ");
            } else {
                $('#all_scores').append(scores[i]);
            }
        }
    }

    function submitRating(evt){
        evt.preventDefault();
        var user_score = {'score': $('#score_field').val(), 'movie_id': $('#movie_id').val()};

        $.post('/process_score', user_score, confirmAddition);
    }

    $('#new_score_btn').click(submitRating)
</script>
</body>
</html>